In [17]:
from sqlalchemy import create_engine
import pandas as pd
from collections import Counter
import nltk
import spacy
import re
from nltk.stem.wordnet import WordNetLemmatizer

In [2]:
postgres_user = 'dsbc_student'
postgres_pw = '7*.8G9QH21'
postgres_host = '142.93.121.174'
postgres_port = '5432'
postgres_db = 'cornell_movie_dialogs'

In [3]:
engine = create_engine('postgresql://{}:{}@{}:{}/{}'.format(postgres_user,
        postgres_pw, postgres_host, postgres_port, postgres_db))

In [4]:
df = pd.read_sql_query('select * from dialogs',con=engine)
engine.dispose()
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 304446 entries, 0 to 304445
Data columns (total 2 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   index    304446 non-null  int64
 1   dialogs  304446 non-null  object
dtypes: int64(1), object(1)
memory usage: 4.6+ MB

In [5]:
df.head()

   index                                            dialogs
0      0  Can we make this quick?  Roxanne Korrine and A...
1      1  Well, I thought we'd start with pronunciation,...
2      2  Not the hacking and gagging and spitting part....
3      3  Okay... then how 'bout we try out some French ...
4      4  You're asking me out.  That's so cute. What's ...

Apply the data preprocessing techniques you learned here to Cornell Movie--Dialogs Corpus data. You'll be using this dataset when developing a chatbot in a later checkpoint. You should access the dataset from the Thinkful database using the following credentials:

In [8]:
dfjoin = " ".join(df.dialogs)

In [20]:
dfjoin[0:10]

'Can we mak'

In [13]:
nlp = spacy.load('en', disable=['parser', 'ner'])
nlp.add_pipe(nlp.create_pipe('sentencizer'))
nlp.max_length = 20000000
doc = nlp(dfjoin)

In [21]:
doc[1:10]

we make this quick?  Roxanne Korrine and

In [23]:
np = [token for token in doc if not token.is_stop]

In [25]:
np = [token for token in np if not token.is_punct]

In [26]:
np[0:10]

[quick,
  ,
 Roxanne,
 Korrine,
 Andrew,
 Barrett,
 having,
 incredibly,
 horrendous,
 public]

In [27]:
lemma = WordNetLemmatizer()
nplm = [x.lemma_ for x in np]

In [28]:
nplm[0:10]

['quick',
 ' ',
 'Roxanne',
 'Korrine',
 'Andrew',
 'Barrett',
 'have',
 'incredibly',
 'horrendous',
 'public']

Apply the data preprocessing techniques you learned here to Twitter US Airline Sentiment data. You'll be using this dataset when generating sentences in a later checkpoint. You should access the dataset from the Thinkful database using the following credentials:

In [29]:
postgres_user = 'dsbc_student'
postgres_pw = '7*.8G9QH21'
postgres_host = '142.93.121.174'
postgres_port = '5432'
postgres_db = 'twitter_sentiment'

In [30]:
engine = create_engine('postgresql://{}:{}@{}:{}/{}'.format(postgres_user,
        postgres_pw, postgres_host, postgres_port, postgres_db))

In [31]:
df2 = pd.read_sql_query('select * from twitter',con=engine)
engine.dispose()
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 304446 entries, 0 to 304445
Data columns (total 2 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   index    304446 non-null  int64
 1   dialogs  304446 non-null  object
dtypes: int64(1), object(1)
memory usage: 4.6+ MB

In [32]:
df2.head()

,index,tweet_id,airline_sentiment,airline_sentiment_confidence,negativereason,negativereason_confidence,airline,airline_sentiment_gold,name,negativereason_gold,retweet_count,text,tweet_coord,tweet_created,tweet_location,user_timezone
0,0,570306133677760513,neutral,1.0000,None,NaN,Virgin America,None,cairdin,None,0,@VirginAmerica What @dhepburn said.,None,2015-02-24 11:35:52 -0800,None,Eastern Time (US & Canada)
1,1,570301130888122368,positive,0.3486,None,0.0000,Virgin America,None,jnardino,None,0,@VirginAmerica plus you've added commercials t...,None,2015-02-24 11:15:59 -0800,None,Pacific Time (US & Canada)
2,2,570301083672813571,neutral,0.6837,None,NaN,Virgin America,None,yvonnalynn,None,0,@VirginAmerica I didn't today... Must mean I n...,None,2015-02-24 11:15:48 -0800,Lets Play,Central Time (US & Canada)
3,3,570301031407624196,negative,1.0000,Bad Flight,0.7033,Virgin America,None,jnardino,None,0,@VirginAmerica it's really aggressive to blast...,None,2015-02-24 11:15:36 -0800,None,Pacific Time (US & Canada)
4,4,570300817074462722,negative,1.0000,Can't Tell,1.0000,Virgin America,None,jnardino,None,0,@VirginAmerica and it's a really big bad thing...,None,2015-02-24 11:14:45 -0800,None,Pacific Time (US & Canada)

In [33]:
dftext = " ".join(df2.text)

In [35]:
doc = nlp(dftext)

In [ ]:
np = [token for token in doc if not token.is_stop]
np = [token for token in doc if not token.is_punct]

In [36]:
lm = [token.lemma_ for token in np]